body p {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif

}

body {
    font-family: "Arial", sans-serif;
    padding: 20px;
    text-align: center;
}

h1, h2,a {
    text-align: center;
    color: red;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    

}

ol li,ul li {
    width: 60%;
    background-color: rgb(230, 224, 226);
    border-top-left-radius: 10%;
    border-left: 8px solid red;
    margin:20px auto;
    padding-bottom: 10px;
}

